<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>詳細</title>
</head>
<body>
<p>{{ djdata.music_name }}</p>
<p>{{ djdata.pack }}</p>
<p>{{ djdata.category }}</p>
<p>{{ djdata.artist }}</p>
<p>{{ djdata.bpm }}</p>
<p>{{ djdata.implemetation_date }}</p>
<p>{{ djdata.key_4n }}</p>
<p>{{ djdata.key_4h }}</p>
<p>{{ djdata.key_4m }}</p>
<p>{{ djdata.key_4s }}</p>
<p>{{ djdata.key_5n }}</p>
<p>{{ djdata.key_5h }}</p>
<p>{{ djdata.key_5m }}</p>
<p>{{ djdata.key_5s }}</p>
<p>{{ djdata.key_6n }}</p>
<p>{{ djdata.key_6h }}</p>
<p>{{ djdata.key_6m }}</p>
<p>{{ djdata.key_6s }}</p>
<p>{{ djdata.key_8n }}</p>
<p>{{ djdata.key_8h }}</p>
<p>{{ djdata.key_8m }}</p>
<p>{{ djdata.key_8s }}</p>
<p>{{ djdata.remarks }}</p>
</body>
</html>